* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
}



.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /*width: 100vw;*/
}

#ctx-ui {
    position: absolute;
    top: 0;
    left: 0;
}
#ctx {
    position: absolute;
    top: 0;
    left: 0;
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}
