body{
    margin: 0;
    background: #70350B;
    /* padding: 0 90px 0 60px; */
}
a{
    text-decoration: none;
}
p, .dropdownA, input{
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
}
.menuBlock{
    display: block-inline;
}
.menu{
    padding-top: 17px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.logo{
 padding-right: 60px;
 /*padding-left: 90px;*/
}

.profil{
    position: absolute;
    top: -20px;
    right: -350px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
button.profil{
    padding: 0;
}
.profil:focus{
    background: #F1ECCD;
}
.dropdownm{
    position: relative;
    display: inline-block;

}
.dropdownA{
    color: #000;
    margin: 20px 30px 0 10px;
    display: inline;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: -40px;
    right: -690px;
    background-color: #F1ECCD;
    min-width: 500px;
    padding: 30px;
    border-radius: 35px;
    z-index: 0;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;} /*только с js*/
.imgOnline{
    margin-right: 5px;
}
.midlepart{
    margin-bottom: 50px;
}
canvas{
    /* margin-top: 20px; */
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
}
.dialog{
    background: #C4C4C4;
    font-size: 15px;
    padding: 3px 25px 2px 25px;
    margin-top: 30px;
    width: 100%;
}
.text{
    margin-top: 10px;
    padding-top: 10px;
}