.manSign{
    width: 393px;
    height: 439px;
    display: inline-block;
    vertical-align: middle;
    /* margin: 120px auto 0 auto; */
}
.signSq{
    width: 610px;
    height: 541px;
    background: #F1ECCD;
    border-radius: 35px;
    display: inline-block;
    vertical-align: middle;
    /* margin: 120px auto 0 auto; */
}
form{
    /* margin-left: 20px; */
}
.logoS{
    /* margin: 20px 0 20px 200px; */
}
.logoStart{
    margin-left: 45px;
}
.textSign{
    font-size: 20px;
    /* margin-left: 45px; */
}
input{
    width: 500px;
    height: 55px;
    background: #DEB07B;
    border-radius: 15px;
    border: none;
    /* margin-left: 35px; */
}
.bSign{
    background: #583719;
    color: #fffdee;
    border-radius: 15px;
    border: none;
}
.buttonS{
    margin: 20px 0 20px 200px;
    padding: 10px;
}
.buttonm{
    margin-left: 30px;
    margin-right: 60px;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    margin: 1px 5px 10px 110px;
}
.tbs{
    font-size: 15px;
}