.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin-right: auto;
    user-select: none;
}

.wrap {
    min-width: 220px;
    width: 100%;
    max-width: 800px;
    /*width: 75%;*/
    margin: 10px auto 0 auto;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background: rgba(222, 176, 123, 1);
    /*background-color: rgba(255, 255, 255, 0.9);*/
}

.menuTitle {
    margin-left: 10%;
}

.menuIcon {
    margin-bottom: 6px;
    margin-right: 14%;
    height: 12px;
    width: 12px;
    border-bottom: 2px;
    border-left: 2px;
    border-top: 0;
    border-right: 0;
    border-color: black;
    border-style: solid;
    transform: rotate(-45deg);
}

.menuListWrap {
    z-index: 999;
    position: absolute;
    left: 75%;
    width: 240px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(230, 209, 165, .75);
    max-height: 250px;
    overflow: auto;
}

.menuItem {
    min-height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 2px solid #70350B;
    opacity: .7;
    cursor: pointer;
}

.menuItem:hover {
    opacity: 1;
}

.menuItem:last-child {
    border-bottom: none;
}
