.inventory {
    width: 100%;
}

.info {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /*height: calc((60vh - 40px) / 3);*/
}

.infoPlayer {
    width: calc(100% - 300px - 20px);
}

.infoAbout {
    /*width: calc(100% - 300px - 20px);*/
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .5);
}

.aboutImg {
    margin-left: 20px;
    width: 65px;
    height: 65px;
}

.aboutImg img {
    width: 100%;
    height: 100%;
}

.aboutTitle {
    /*margin-left: 5px;*/
    margin-left: auto;
    /*margin-right: auto;*/
    /*text-align: center;*/
}
.tokenId {
    /*width: 90%;*/
    margin-left: auto;
    margin-right: 10px;
    /*margin: 0 0;*/
}


.aboutDescription {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

.attributes {
    text-align: center;
}

.attribute {

}

.aboutHeader {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /*justify-content: space-between;*/
}

.staff {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 2px;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    padding-top: 5px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    overflow-y: auto;
    height: 300px;
}

.card {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(255,255,255, .7);
}


.card:hover {
    border: 1px solid rgba(255,255,255, 1);
}
.card img {
    width: 100%;
    height: 100%;
}
