.menuWrap {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu {
    background-color: #753d16;
    height: 60vh;
    width: 50vw;
    color: white;
}

.menuHeader {
    width: 98%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0.5% 1%;
    background-color: #5d3011;
}

.menuHeaderExitbtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    opacity: .75;
}

.menuTitle {
    padding-left: 5px;
    font-weight: 500;
}

.menuHeaderExitbtn:hover {
    opacity: 1;
}

.menuHeaderExitbtn span {
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: white;
    top: 8px;
    left: 20px;
}

.menuHeaderExitbtn span:first-child {
    transform: rotate(45deg);
}

.menuHeaderExitbtn span:last-child {
    transform: rotate(-45deg);
}

.menuContent {
    display: flex;
    flex-wrap: nowrap;

}


.menuNavWrap {
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    height: calc(60vh - 40px);
    width: 20%;
}

.menuNav {
    display: flex;
    flex-direction: column;
    /*width: 15%;*/
}

.menuNavItem {
    border: 1px solid black;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    padding: 5px;
    cursor: pointer;
}

.itemTitle {
    padding: 5px;
}

.menuNavItem:hover {
    background-color: rgba(255, 255, 255, .8);
}

.menuWindow {
    width: 80%;
    overflow-y: auto;
}
