.menuWrap {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu {
    background-color: #753d16;
    height: 60vh;
    width: 50vw;
    min-width: 700px;
    min-height: 450px;

    border-style: solid;
    border-color: black;
    border-width: 0.225em 0;
    position: relative;
    z-index: 4;
    box-shadow: -.35em 0 0 -.125em,
    .35em 0 0 -.125em;
}


.menu:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .225em;
    bottom: 0.20em;
    content: "";
    left: -0.4em;
    pointer-events: none;
    position: absolute;
    top: 0.20em;
    right: -0.4em;
    z-index: -2;
}

.menu:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 0.225em;
    bottom: 0.48em;
    content: "";
    left: -0.6em;
    position: absolute;
    top: 0.48em;
    right: -0.6em;
    z-index: -1;
}
.menuHeader {
    width: 98%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid black;*/
    margin: 0.5% 1%;
    background-color: #5d3011;

    border-style: solid;
    border-color: black;
    border-width: 0.225em 0;
    position: relative;
    z-index: 4;
    box-shadow: -.35em 0 0 -.125em,
    .35em 0 0 -.125em;
}

.menuHeader:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .225em;
    bottom: 0.20em;
    content: "";
    left: -0.4em;
    pointer-events: none;
    position: absolute;
    top: 0.20em;
    right: -0.4em;
    z-index: -2;
}

.menuHeader:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 0.225em;
    bottom: 0.48em;
    content: "";
    left: -0.6em;
    position: absolute;
    top: 0.48em;
    right: -0.6em;
    z-index: -1;
}
.menuHeaderExitbtn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    opacity: .75;
}

.menuTitle {
    color: white;
    padding-left: 5px;
    font-weight: 500;
}

.menuHeaderExitbtn:hover {
    opacity: 1;
}

.menuHeaderExitbtn span {
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: white;
    top: 8px;
    left: 20px;
}

.menuHeaderExitbtn span:first-child {
    transform: rotate(45deg);
}

.menuHeaderExitbtn span:last-child {
    transform: rotate(-45deg);
}

.menuContent {
    display: flex;
    flex-wrap: nowrap;

}


.menuNavWrap {
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    height: calc(60vh - 40px);
    width: 27%;
}

.menuNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    /*width: 15%;*/
}

.menuNavItem {
    font-size: 12px;
    /*border: 1px solid black;*/

    width: 98%;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    padding: 8px;
    cursor: pointer;

    border-style: solid;
    border-color: black;
    border-width: 0.225em 0;
    position: relative;
    z-index: 4;
    box-shadow: -.35em 0 0 -.125em,
    .35em 0 0 -.125em;
}

.menuNavItem:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .225em;
    bottom: 0.20em;
    content: "";
    left: -0.4em;
    pointer-events: none;
    position: absolute;
    top: 0.20em;
    right: -0.4em;
    z-index: -2;
}

.menuNavItem:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 0.225em;
    bottom: 0.48em;
    content: "";
    left: -0.6em;
    position: absolute;
    top: 0.48em;
    right: -0.6em;
    z-index: -1;
}

.itemTitle {
    padding: 5px;
    color: white;
}

.menuNavItem:hover {
    background-color: rgba(255, 255, 255, .8);
}

.menuWindow {
    width: 73%;
    padding: 0 5px;
    overflow-y: auto;
}
