.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
}



.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.menuBtn {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 20%;
    height: 35px;
    width: 100px;
    background-color: #753d16;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    color: #FFFFFF;
    opacity: .9;
    transition: opacity 300ms linear;
}

.menuBtn:hover {
    opacity: 1;
}


