.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    /*background-color: #753d16;*/
}



.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto auto;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
