.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #70350B;
    background-image: url("../../public/images/blackLogoPattern.svg");
    background-repeat: repeat;
    background-size: 20%;
    padding: 15px;
    font-size: 14px;
}

.auth__input {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #DEB07B;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    min-width: 220px;
    width: 100%;
    max-width: 494px;
    min-height: 65px;
    border-radius: 2px;
    padding: 0 0 0 12px;
    margin-top: 10px;
}


.auth__btns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth__btn {
    margin-top: 10px;
}

.auth__btns button {
    width: 280px;
    cursor: pointer;
    background-color: #583719;
    min-height: 35px;
    color: white;
    border-radius: 5px;
}

.auth__btns p {
    cursor: pointer;
    margin-top: 15px;
}

.auth__btns a {
    color: white;
    text-decoration: none;
}

.auth__btns button:hover {
    background-color: #7a4d24;
}

.auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1ECCD;
    max-width: 500px;
    min-height: 210px;
    max-height: 210px;
    width: 100%;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
}

.reg__form {
    font-size: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 5px;
    background-color: #F1ECCD;
    max-height: 840px;
    width: 100%;
    max-width: 500px;
    margin: 0;
}

.reg__input {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #DEB07B;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    min-width: 220px;
    width: 100%;
    max-width: 800px;
    min-height: 35px;
    border-radius: 2px;
    padding: 0 0 0 12px;
    margin-top: 10px;
}

.reg__label {
    align-self: flex-start;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 14px;
}

.reg__radio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.reg__radio {
    margin-top: 8px;
    display: flex;
    min-width: 190px;
    width: 100%;
    max-width: 215px;
    padding: 0 2px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.reg__radio_btn {
    cursor: pointer;
    margin: 2px 0;
    background-color: rgba(241, 236, 205, 1);
    width: 100%;
    height: 35px;
    text-align: center;
    padding: 8px;
    border: 1px solid #DEB07B;
    border-radius: 5px;
}


.reg__radio_btn:hover {
    background-color: rgba(222, 176, 123, 1);
}

.reg__btns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg__btn {
    margin-top: 10px;
}

.reg__btns p {
    cursor: pointer;
    margin-top: 15px;
}

.reg__btns button {
    width: 280px;
    cursor: pointer;
    background-color: #583719;
    min-height: 35px;
    color: white;
    border-radius: 5px;
}

.reg__btns a {
    color: white;
    text-decoration: none;
}

.reg__btns button:hover {
    background-color: #7a4d24;
}

.auth__button_registration {
    max-width: 170px;
}

.auth__button_login {
    max-width: 120px;
}

.auth__button:hover {
    opacity: 0.8;
}


@media (max-width: 500px) {
    .reg__radio {
        max-width: 100%;
    }

    .reg__radio_btn {
        min-width: 180px;
    }
}
